.songs-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 50;
    justify-content: space-between;
    overflow: hidden;
    min-height: 100vh;
    /* Set the minimum height to full viewport height */
}

.search-container {
    display: flex;
    flex-direction: column;
    z-index: 50;
    justify-content: space-between;
    overflow: hidden;
}

.song-card-list {
    position: relative;
    /* Set .song-card-list to relative positioning */
    flex: 1;
    /* Make .song-card-list take up all available vertical space */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    /* Enable vertical scrolling when content overflows */
    height: 100vh;
    /* Set the height to full viewport height */
}

.genre-buttons {
    margin: 20px;
}

.genre-button {
    border: none;

    font-size: 15px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    margin: 5px 5px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #00c8ff;
    color: #0e83cd;
    background: #f5dddd;
}


/* Button 1a */
.genre-button:hover {
    color: #0e83cd;
    background: none;
}

.genre-button.active {
    color: #0e83cd;
    background: none;

}