.vinyl-jacket {
    font-family: 'Rockwell', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    border-radius: 1px;
    width: 250px;
    height: 250px;
    perspective: 200px;
    margin-left: 150px;
    margin-top: 50px;
    transform-style: preserve-3d;
    background-color: linear-gradient(rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0));
    background-size: cover;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 1px 0 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.6);

    transform: rotate3d(0, 1, -0.2, 35deg);

    /* Animation attributes for initial bent position */
    animation-name: load-move-animation;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);


}

.vinyl-jacket::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    transform: translateY(8%) scaleY(-1) scaleX(1.18) rotateX(-20deg);
    -webkit-mask-image: linear-gradient(transparent 80%, rgba(255, 255, 255, 0.1));
    mask-image: linear-gradient(transparent 80%, rgba(255, 255, 255, 0.1));
    pointer-events: none;
}



.card-header {
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;


}


.card-title {
    flex: 1;
    font-size: 1.2em;
    font-weight: 800;
}


.card-score {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 550;
    align-items: center;
    text-align: center;

    color: white;
}

.card-no-score {
    margin-top: 10px;
    font-size: .8em;
    font-weight: 550;
    text-align: center;
    color: white
}


.vinyl-wrapper {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: 0;
    left: 16%;
    width: 100%;
    height: 100%;
    transform: translateZ(-8px);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.6));
    transition: left 0.4s;


}



.vinyl-jacket:hover>.vinyl-wrapper {

    left: 70%;
    box-shadow: 0 0 50px 15px #eaeaea;


}




.vinyl {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #21201e00;
    background-image: conic-gradient(from 45deg, rgba(255, 255, 255, 0.25), transparent 6.25% 43.75%, rgba(255, 255, 255, 0.25) 50%, transparent 56.25% 93.75%, rgba(255, 255, 255, 0.25)), radial-gradient(farthest-side, transparent 0 calc(100% - 1px), #342d2b 95.23% 100%), radial-gradient(farthest-side, transparent 0 95.23%, #342d2b 95.23% 100%), radial-gradient(farthest-side, rgba(255, 255, 255, 0.06) 0 40%, rgba(0, 0, 0, 0.2) 40% calc(40% + 1px), rgba(0, 0, 0, 0.12) calc(40% + 1px) 48%, #282826 48% calc(48% + 1px), transparent calc(48% + 1px) 100%), radial-gradient(farthest-side, transparent 63.8%, rgba(255, 255, 255, 0.03) 63.8% calc(63.8% + 1px), transparent calc(63.8% + 1px) 81.9%, rgba(255, 255, 255, 0.03) 81.9% calc(81.9% + 1px), transparent 0), repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.005) 0 1px, transparent 1px 2px), repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.005) 0 1px, transparent 1px 5px), repeating-radial-gradient(farthest-side, #1e1d1c, #21201e 12.5%);
    -webkit-mask-image: radial-gradient(transparent 2.4%, #fff 2.4%);
    box-shadow: inset 0 0 1px 1px #000, inset 0 0 0 2px rgba(110, 100, 101, 0.6);


}



.vinyl::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border: 1px solid #3b3b38;
    border-radius: 50%;
    width: 33.33%;
    height: 33.33%;
    background-size: cover;
    image-rendering: crisp-edges;
    filter: invert(100%);


}

.vinyl.pop::after {
    background-image: url("../images/icons/pop.png");
}

.vinyl.disco::after {
    background-image: url("../images/icons/disco-ball.png");
}

.vinyl.rock::after {
    background-image: url("../images/icons/hand.png");
}

.vinyl.alt-rock::after {
    background-image: url("../images/icons/headphone-symbol.png");
}

.vinyl.hip-hop::after {
    background-image: url("../images/icons/breakdance.png");
}

.vinyl.movie::after {

    background-image: url("../images/icons/video-camera.png");
}

.vinyl.tv::after {
    background-image: url("../images/icons/television.png");
}

.vinyl.video-game::after {
    background-image: url("../images/icons/games.png");
}

/* Animation keyframes */
@keyframes load-move-animation {

    0% {
        /*Card position at start and end */

        transform: translateY(300%);
    }

    /* Experiment with these numbers at 50% -> */
    100% {

        transform: rotate3d(0, 1, -0.2, 35deg);
    }
}