.record {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    content: 'Play';
    color: white;

}

.record:hover {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(360deg);
    }
}

.record::before {
    content: 'Play';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 180px;
    height: 180px;
    background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px);
    border-radius: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;

}



.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background: linear-gradient(white, white 50%, #F796A8 50%, #F796A8);
    border-radius: 50%;
}

.inner::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}