.songs-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 100vh;
    min-width: 100vw;
    z-index: 50;
    font-family: 'Poppins', sans-serif;

}

.songs-page {
    position: relative;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song-card-list {
    padding-right: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    /* Enable scrolling for the container */
    direction: rtl;
    /* Move the scroll to the left side */
    flex-wrap: wrap;
    height: 100vh;
    /* Set the height to full viewport height */
}

.genre-buttons {
    margin: 20px;
}

.genre-button {
    border: none;

    font-size: 15px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    margin: 5px 5px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #00c8ff;
    color: #0e83cd;
    background: #f5dddd;
}


/* Button 1a */
.genre-button:hover {
    color: #0e83cd;
    background: none;
}

.genre-button.active {
    color: #0e83cd;
    background: none;

}