.game-page-parent {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Use "contain" to center the video with black edges */
    transform: translate(-50%, -50%);
    z-index: -1;

}

/* Adjust the width as needed */
/* Other styles for game-page-child-1 */
.game-page-child-2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    background-color: rgba(234, 231, 231, 0.51);
}



#song-name {
    text-align: center;
}

.stream-container {
    position: absolute;
    left: 0%;
    /* Adjust the value to position the stream container very far up on the page */
    width: 750px;
    margin: 0;
    padding: 0;


}

.piano-container {
    position: fixed;
    left: 0%;

    top: 58%;
    /* Adjust the value to position the piano container 900px below the top of the page */
    width: 750px;
    height: 400px;
    background-color: rgb(71, 127, 187);
    font-size: 20px;
    padding-top: 2px;
    text-align: center;
    z-index: 1;

}



.game-note {
    position: absolute;
    z-index: 1;
}

.in-play {
    color: blue;
}

.note-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
}

.white-game-note {
    color: black;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}



.black-game-note {
    color: white;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.white-game-note.accurate,
.black-game-note.accurate {
    background: linear-gradient(to bottom, #fff 0%, #1db515 100%)
}

.white-game-note.inaccurate,
.black-game-note.inaccurate {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

.white-game-note.in-play,
.black-game-note.in-play {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

/* .white-game-note.in-play,
.black-game-note.in-play {
    background: linear-gradient(to bottom, #fff 0%, #152db5 100%)
} */



ul {
    margin-left: 8px;
    margin-top: 0;
    padding-top: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left
}

div .note-accuracy {
    color: black;
    margin-top: 250px;

}


.key.white {
    color: black;
    height: 280px;
    width: 100px;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}

.key.white:active,
.key.white.active {
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%)
}



.key.black {
    color: white;
    height: 160px;
    width: 50px;
    margin: 0 0 0 -25px;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.key.black:active,
.key.black.active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #444 0%, #222 100%)
}

#A,
#B,
#G,
#D,
#C,
#E {
    margin: 0 0 0 -27px
}



ul li:first-child {
    border-radius: 5px 0 5px 5px
}

ul li:last-child {
    border-radius: 0 5px 5px 5px
}

.key.white.inaccurate.active,
.key.black.inaccurate.active {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

.key.white.accurate.active,
.key.black.accurate.active {
    background: linear-gradient(to bottom, #fff 0%, #15b520 100%)
}