.game-forms {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 9999;

}

.covering-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, transparent 550px, rgb(0, 0, 0) 150px);
    z-index: -1;
}

video {
    position: absolute;
    bottom: 230px;
    left: 50%;
    height: 100%;
    transform: translate(-50%);
    object-fit: cover;
    background-color: black;
    z-index: -1;


}


.game-header {
    height: 70px;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.471);
    z-index: 9000;
    text-align: center;

}

.game-get-ready {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 70px;
    font-size: 50px;
    color: white;
    z-index: 9000;
    transform: translateX(-50%);

}

#game-timer {
    position: absolute;
    height: 70px;
    width: 50px;
    color: white;
    font-size: 90px;
    z-index: 9000;
    left: 50%;
    bottom: 90px;
    transform: translate(-560px, 0);
}

#game-buttons {
    position: absolute;
    display: flex;
    height: 100px;
    width: 50px;
    color: white;
    font-size: 50px;
    z-index: 9000;
    left: 50%;
    bottom: 90px;
    transform: translate(520px, 0);
}

#song-name {
    text-align: center;
}


.score-bar {
    position: absolute;
    width: 780px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: right;
    color: White;
    padding-right: 5px;
    font-size: 20px;
}

.score-fill {
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 10px;
    background-color: blue;
    text-align: right;
    color: White;
    padding-right: 5px;
    box-shadow: 0 0 20px 15px #eaeaea;
}

.stream {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 750px;
    margin: 0;
    padding: 0;

}

.bottom-container {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 230px;
    background-color: rgb(0, 0, 0);

}


.piano-container {
    margin-left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 750px;
    height: 230px;
    background-color: #176B87;

    font-size: 20px;
    padding-top: 2px;
    text-align: center;
    z-index: 1;

}

#piano {
    margin-left: 55px;
    margin-top: 0;
    padding-top: 0;




}

li.piano-key {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left
}




.game-note {
    position: absolute;
    z-index: 1;
}

.in-play {
    color: blue;
}

.note-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
}

.white-game-note {
    color: black;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}



.black-game-note {
    color: white;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.white-game-note.accurate,
.black-game-note.accurate {
    background: linear-gradient(to bottom, #fff 0%, #1db515 100%);
    box-shadow: 0 0 50px 15px #eaeaea;
}

.white-game-note.inaccurate,
.black-game-note.inaccurate {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

.white-game-note.in-play,
.black-game-note.in-play {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

/* .white-game-note.in-play,
.black-game-note.in-play {
    background: linear-gradient(to bottom, #fff 0%, #152db5 100%)
} */





.key.white {
    color: black;
    height: 180px;
    width: 100px;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%)
}

.key.white:active,
.key.white.active {
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%)
}



.key.black {
    color: white;
    height: 100px;
    width: 50px;
    margin: 0 0 0 -25px;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%)
}

.key.black:active,
.key.black.active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #444 0%, #222 100%)
}

#A,
#B,
#G,
#D,
#C,
#E {
    margin: 0 0 0 -27px
}



ul li.piano-key:first-child {
    border-radius: 5px 0 5px 5px
}

ul li.piano-key:last-child {
    border-radius: 0 5px 5px 5px
}

.key.white.inaccurate.active,
.key.black.inaccurate.active {
    background: linear-gradient(to bottom, #fff 0%, #b51515 100%)
}

.key.white.accurate.active,
.key.black.accurate.active {
    background: linear-gradient(to bottom, #fff 0%, #15b520 100%)
}