.stream-container {
    position: relative;
    height: 100000px;
    width: 600px;
    bottom: 90vh;
    background-color: lightblue
}

.game-note {
    background-color: blue;
    position: absolute;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white
}

.note-name {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}