.leaderboard-container {
    margin-top: 50px;
    margin-left: 50px;
    width: 40rem;
    font-family: "Rubik", sans-serif;
    background-color: #e6d6c2be;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}








.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.5rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #141a39;
    text-transform: uppercase;

}

.leaderboard-message {
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}

.song-details-login-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}

.leaderboard {
    width: 100%;
    position: relative;
}

.leaderboard-header {
    margin-left: 20px;
    color: rgb(192, 68, 83)
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}


.no-scores-div {
    height: 5rem;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.no-score-login-button {

    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-size: 1.4rem;
    font-size: 20px;
    color: white;

}

.tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

.tr.first-place {
    color: #fff;
}


.tr.runner-ups:nth-child(odd) {
    background-color: #f9f9f9a0;

}


.tr.runner-ups:hover {
    background-color: #ffffffa4;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    transform: translateY(-30px);

}


.td {
    height: 5rem;

    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}



.number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
}


.name {
    text-align: left;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name:hover {
    white-space: normal;
    z-index: 1;

}

.name span:hover {
    display: inline-block;
    animation: marquee 5s linear infinite;
}

.timestamp {
    text-align: left;
    font-size: 1.2rem;
}

.points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.points:first-child {
    width: 10rem;
}

.gold-medal {
    height: 3rem;
    margin-left: 1.5rem;
}

.ribbon {
    width: 42rem;
    height: 5.9rem;
    top: -0.5rem;
    background-color: #15adba;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
}

.ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
}

@keyframes marquee {
    to {
        transform: translateX(-100%);
    }
}