.card-link {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 3px 3px rgba(141, 140, 140, 0.7);
}

.home-card {
    font-family: 'Roboto', sans-serif;
    width: 430px;
    height: 350px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin: 15px;

    border-radius: 25px;
    border: double 5px transparent;
    /*Set both inset and outset box shadow using CSS, separated by , */
    box-shadow: inset -10px -10px 80px 1px rgba(0, 0, 0, 0.3),
        10px 20px 50px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.9;
    transform: rotate3d(0, 1, -0.2, 45deg);

    animation: initialBend 0.5s forwards;
}


/* ALL CARD HOVER */
.home-card:hover {

    animation: hoverBend 1s forwards;
    box-shadow: 0 0 50px 15px #eaeaea;

}



/* Define the animation keyframes for the initial bent position */
@keyframes initialBend {
    0% {
        transform: rotate3d(0, 1, 0, 10deg);
        /* Start with a slightly tilted position */
    }

    100% {
        transform: rotate3d(0, 1, -0.2, 45deg);
        /* End with the final bent position */
    }
}

/* Define the animation keyframes for the initial bent position */
@keyframes hoverBend {
    0% {
        transform: rotate3d(0, 1, -0.2, 45deg);

        /* Start with a slightly tilted position */
    }

    100% {
        transform: rotate3d(0, 1, 0, 10deg);
        /* End with the final bent position */
    }
}


.img-section {
    text-align: center;
}

.card:hover .img-section {
    transform: translateY(-2em);

}

.home-card-header {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}


.home-card-title {
    flex: 1;
    font-size: 1em;
    font-weight: 800;
}


.home-card-score {
    margin-top: 10px;
    font-size: .8em;
    font-weight: 550;
}