body {
    font-family: verdana;
    background: #444;
    background-image: linear-gradient(-45deg, #404, #b36);
    height: 100vh;
    margin: 0;
}

.container,
.card {
    border-radius: 25px;
    border: double 5px transparent;
    /*Set both inset and outset box shadow using CSS, separated by , */
    box-shadow: inset -10px -10px 80px 1px rgba(0, 0, 0, 0.3),
        10px 20px 50px 10px rgba(0, 0, 0, 0.5);
}



.card-link {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 3px 3px rgba(141, 140, 140, 0.7);
}

.card {

    width: 330px;
    height: 300px;
    float: left;
    padding: 20px;
    margin: 15px;
    margin-right: -32px;
    background: #eee;
    opacity: 0.9;
    backdrop-filter: blur(5px);
    transform: rotate3d(0, 1, -0.2, 45deg);


    /* Animation attributes for initial bent position */
    animation-name: load-turn-animation;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    /* Transition attributes for smooth return to bent position after unhovering */
    transition-property: transform, background-color, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    /* Add a delay of 0.5s before returning to bent position */
}

/* Animation keyframes */
@keyframes load-turn-animation {

    0% {
        /*Card position at start and end */
        transform: rotate3d(0, 1, 0, 10deg);
    }

    /* Experiment with these numbers at 50% -> */
    100% {
        transform: rotate3d(0, 1, -0.2, 45deg);
    }
}




/* ALL CARD HOVER */
.card:hover {
    transition-property: transform, background-color, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    /* Reset the transform to the original position */
    transform: rotate3d(0, 1, 0, 10deg);
    /* Add any other hover styles you want */
    color: #223;
    opacity: 0.7;
}


.signo {
    margin: auto;
    color: #a8a;
    position: absolute;
    bottom: 10px;
    right: 14px;
}

.signo:hover {
    color: #fff;
    text-decoration: underline;
}

.card:hover .img-section {
    transform: translateY(-2em);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
}



/* .card {
    --primary-clr: #1C204B;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);
    width: 200px;
    height: 170px;
    border-radius: 10px;
    margin: 50px;
}

.card {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
    background-color: #fff;
}

.card:hover .img-section {
    transform: translateY(-1em);
}

.card-time {
    font-size: 1.7em;
    font-weight: 500;
}

.img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
}

.card-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
}

.card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
}

.card svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.card .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
}

.card .recent {
    line-height: 0;
    font-size: 0.8em;
} */