.score-card-link {
    display: inline-block;
    text-decoration: none;
    text-shadow: 1px 3px 3px rgba(141, 140, 140, 0.7);


}

.score-card {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 330px;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    border: double 5px transparent;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.9;
    transform: rotate3d(0, 1, -0.2, 45deg);

    animation: initialBend 0.5s forwards;
}




/* ALL CARD HOVER */
.score-card:hover {

    animation: hoverBend 1s forwards;
    box-shadow: 0 0 50px 15px #eaeaea;

}

.score-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.score-card-contents {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


/* Define the animation keyframes for the initial bent position */
@keyframes initialBend {
    0% {
        transform: rotate3d(0, 1, 0, 10deg);
        /* Start with a slightly tilted position */
    }

    100% {
        transform: rotate3d(0, 1, -0.2, 45deg);
        /* End with the final bent position */
    }
}

/* Define the animation keyframes for the initial bent position */
@keyframes hoverBend {
    0% {
        transform: rotate3d(0, 1, -0.2, 45deg);

        /* Start with a slightly tilted position */
    }

    100% {
        transform: rotate3d(0, 1, 0, 10deg);
        /* End with the final bent position */
    }
}



.score-card:hover .img-section {
    transform: translateY(-2em);

}

.score-card-header {
    margin: 10px;
    text-align: center;
}


.score-card-title {
    flex: 1;
    font-size: 1em;
    font-weight: 800;


}


.score-card-score {
    margin-top: 80px;
    font-size: .8em;
    font-weight: 550;
}