.home-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}


#home-video {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;

}

/* Set the minimum size for the video when the screen size is reduced */
@media (max-width: 800px),
(max-height: 600px) {
    #home-video {
        width: 800px;
        height: 600px;
    }
}

.home-form-container {
    position: absolute;
    right: 0;
    margin-top: 50px;
}


.home-content-container {
    display: flex;
    justify-content: left;
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    animation: waves 16s infinite
}



.home-search {
    margin-left: 20px;
    margin-top: 80px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    animation: glowShimmer 2s infinite;
    border-radius: 50%;
    /* Make the shimmer circular */
}

.home-search-image {
    height: 50px;
    filter: invert(100%);
}

.home-heading {
    font-size: 8em;
    white-space: nowrap;
}

.home-tag {
    font-size: 1.4em;
    text-transform: uppercase;
}

.home-about {
    margin-top: 20px;
    font-size: .9em;
    color: white;
    animation: zoom .5s;

}

@keyframes glowShimmer {

    0%,
    100% {
        box-shadow: 0 0 10px 5px rgba(152, 212, 237, 0.6);
        /* Adjust the shadow properties as per your preference */
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3);
        /* Adjust the shadow properties as per your preference */
        transform: scale(1.05);
    }
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes waves {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(40px);
    }

    100% {
        transform: translatey(0px);
    }

}