@font-face {
  font-family: ElMessiri;
  src: url(./fonts/ElMessiri-VariableFont_wght.ttf);
}


/* A simple CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-decoration: none;
  overflow: hidden;
  background-color: black;
}

button {
  cursor: pointer;
}

.common-background {
  text-decoration: none;
  position: relative;
  height: 100vh;
  background-image: url("./images/records.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  background-attachment: fixed;


}