@font-face {
  font-family: ElMessiri;
  src: url(./fonts/ElMessiri-VariableFont_wght.ttf);
}


/* A simple CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-decoration: none;
  overflow: hidden;
  background-color: black;

}

::-webkit-scrollbar {
  background: black;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #176B87;
  ;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 172, 212);
}

button {
  cursor: pointer;
}

.common-background {
  text-decoration: none;
  position: relative;
  height: 100vh;
  background-image: url("./images/records.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  background-attachment: fixed;


}