.falling-notes {

    top: 0;
    left: 0;
    z-index: -10;
    font-size: 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.471);
    overflow: hidden;
}

.falling-notes span {
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    animation: rotating-and-falling-anim 10s linear infinite;
}

/* animation */
@keyframes rotating-and-falling-anim {
    0% {
        transform: translateY(-100px) rotate(0);
    }

    100% {
        transform: translateY(100vh) rotate(600deg);
    }
}

/* side position and delay */
.falling-notes span:nth-child(1) {
    left: 5%;
    animation-delay: 2.6s;
}

.falling-notes span:nth-child(2) {
    left: 15%;
    animation-delay: 2.2s;
}

.falling-notes span:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}

.falling-notes span:nth-child(4) {
    left: 35%;
    animation-delay: 5.1s;
}

.falling-notes span:nth-child(5) {
    left: 45%;
    animation-delay: 4.4s;
}

.falling-notes span:nth-child(6) {
    left: 55%;
    animation-delay: 1s;
}

.falling-notes span:nth-child(7) {
    left: 65%;
    animation-delay: 0s;
}

.falling-notes span:nth-child(8) {
    left: 75%;
    animation-delay: 3.1s;
}

.falling-notes span:nth-child(9) {
    left: 85%;
    animation-delay: 1.3s;
}

.falling-notes span:nth-child(10) {
    left: 95%;
    animation-delay: 3.3s;
}